[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build --workspace=shared", "npm run build --workspace=client", "npm run build --workspace=server"]

[start]
cmd = "npm run start --workspace=server"
