services:
  - type: web
    name: flowcode
    runtime: node
    buildCommand: npm ci && npm run build --workspace=shared && npm run build --workspace=client && npm run build --workspace=server
    startCommand: npm run start --workspace=server
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_REFRESH_SECRET
        generateValue: true
